<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>

<body>

	<table style="border-collapse:collapse;border-spacing:0;width:700px;padding:0;margin:0 auto;font-family:'Dotum';font-size:14px;">
		<tbody>
			<tr>
				<td style="padding:0;"><a href="#" style="display:block;margin:0;padding:0;border:0;"><img src="http://ksdin.m2comm.co.kr/image/mail/mailTop.jpg" alt="" style="display:block;margin:0;padding:0;border:0;" /></a></td>
			</tr>
			<tr>
				<td style="padding:15px 0;background:#314c93;color:#fff;text-align:center;font-size:18px;font-weight:bold;">
					제목
				</td>
			</tr>
			<tr>
				<td style="padding:40px;border-collapse: collapse;border-spacing:0;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;text-align: left;font-size: 13px;color: #383839;">
					내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다.내용이 들어갑니다.내용이 들어갑니다.v 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다. 내용이 들어갑니다.내용이 들어갑니다. 내용이 들어갑니다.
					<br /><br />
				</td>
			</tr>
			<tr>
				<td style="width:213px;padding:30px 240px; text-align:center;">
				</td>
			</tr>
			<tr>
				<td style="background:#2e2e2e;color:#fff;font-size:12px;padding:10px 40px;">
					<p>TEL : 031-380-3976 | FAX : 031-386-2269 | E-mail : <a href="mailto:im3976@hallym.ac.kr" style="text-decoration:none;color:#fff;">im3976@hallym.ac.kr</a></p>
					<p>Copyright© 2016 By 대한중재신장학연구회. All Rights Reserved.</p>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
