<style>
   BODY,TH,TD {
      font-size : 11pt;
      line-height : 13pt;
	  font-family: tahoma,verdana, arial, tahoma;
   }
	a:link {
	 font-family: tahoma,sans-serif,verdana,tahoma,arial,times new roman;
	 font-size: 10pt;
	 color: #545454;
	 text-decoration: none;
	}

	a:hover {
	 font-family: tahoma,sans-serif,verdana,tahoma,arial,times new roman;
	 font-size: 10pt;
	 color: #545454;
	 text-decoration: none;
	}

	a:visited {
	 font-family: tahoma,sans-serif,verdana,tahoma,arial,times new roman;
	 font-size: 10pt;
	 color: #545454;
	 text-decoration: none;
	}

   .issue{
      font-size : 11pt;
      color :#FFFFFF;
	  font-weight : 600;
	  padding-left:5px;

   }
   .category{
      font-size : 10pt;
      color :#77358C;
	  font-weight : 800;
	  padding-left:5px;

   }


   .Title {
      font-size : 10pt;
      font-weight : 600;
   }

   .PubAuthor {
      font-size : 9pt;
   }
   .PubInfo {
      font-size : 9pt;
   }

   .PubDoi {
      font-size : 8pt;
   }
   </style>
{body_value}
{attach_file}