

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0 none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
img {border:0 none; font-size:0; line-height:0;vertical-align: top;}
.ie7 li, .ie7 li a {zoom:1;}
caption, legend {width:0; height:0; visibility:hidden; line-height:0;}



/* 여백 */
.padding0 {padding:0 !important;}
.margin0 {margin:0 !important;}
/* Top Padding */
.tp0 {padding-top:0px !important;}
.tp5 {padding-top:5px !important;}
.tp10 {padding-top:10px !important;}
.tp15 {padding-top:15px !important;}
.tp20 {padding-top:20px !important;}
.tp25 {padding-top:25px !important;}
.tp30 {padding-top:30px !important;}
/* Bottom Padding */
.bp0 {padding-bottom:0px !important;}
.bp5 {padding-bottom:5px !important;}
.bp10 {padding-bottom:10px !important;}
.bp15 {padding-bottom:15px !important;}
.bp20 {padding-bottom:20px !important;}
.bp25 {padding-bottom:25px !important;}
.bp30 {padding-bottom:30px !important;}
/* Left Padding */
.lp0 {padding-left:0 !important;}
.lp5 {padding-left:5px !important;}
.lp10 {padding-left:10px !important;}
.lp15 {padding-left:15px !important;}
.lp20 {padding-left:20px !important;}
.lp25 {padding-left:25px !important;}
.lp30 {padding-left:30px !important;}
/* Right Padding */
.rp0 {padding-right:0 !important;}
.rp5 {padding-right:5px !important;}
.rp10 {padding-right:10px !important;}
.rp15 {padding-right:15px !important;}
.rp20 {padding-right:20px !important;}
.rp25 {padding-right:25px !important;}
.rp30 {padding-right:30px !important;}
/* Top Margin */
.tm0 {margin-top:0 !important;}
.tm5 {margin-top:5px !important;}
.tm10 {margin-top:10px !important;}
.tm15 {margin-top:15px !important;}
.tm20 {margin-top:20px !important;}
.tm25 {margin-top:25px !important;}
.tm30 {margin-top:30px !important;}
/* Bottom Margin */
.bm0 {margin-bottom:0 !important;}
.bm5 {margin-bottom:5px !important;}
.bm10 {margin-bottom:10px !important;}
.bm15 {margin-bottom:15px !important;}
.bm20 {margin-bottom:20px !important;}
.bm25 {margin-bottom:25px !important;}
.bm30 {margin-bottom:30px !important;}
/* Left Margin */
.lm0 {margin-left:0 !important;}
.lm5 {margin-left:5px !important;}
.lm10 {margin-left:10px !important;}
.lm15 {margin-left:15px !important;}
.lm20 {margin-left:20px !important;}
.lm25 {margin-left:25px !important;}
.lm30 {margin-left:30px !important;}
/* Right Margin */
.rm0 {margin-right:0 !important;}
.rm5 {margin-right:5px !important;}
.rm10 {margin-right:10px !important;}
.rm15 {margin-right:15px !important;}
.rm20 {margin-right:20px !important;}
.rm25 {margin-right:25px !important;}
.rm30 {margin-right:30px !important;}

/* float */
.fl {float:left !important;}
.fr {float:right !important;}
.Lfloat {float:left !important;}
.Rfloat {float:right !important;}
.overHidden {overflow:hidden;}
.clear {clear:both !important;}
.clearleft {clear:left !important;}
.clfix:after {content:""; display:block; clear:both; visibility:hidden; height:0; font-size:0;}
.ie7 .clfix {zoom:1;}

/* align */
.al {text-align:left !important;}
.ac {text-align:center !important;}
.ar {text-align:right !important;}
.aj {text-align:justify !important;}

/* position */
.posRel {position:relative !important;}
.posAbs {position:absolute !important;}
.posTL {position:absolute !important; top:0; left:0;}
.posTLn {position:absolute !important; top:0; left:26px;}
.posTR {position:absolute !important; top:0; right:0;}
.posBL {position:absolute !important; bottom:0; left:0;}
.posBR {position:absolute !important; bottom:0; right:0;}



/* display */
.none {display:none !important;}
.iBlock {display:inline-block !important; vertical-align:top;}
.ie7 .iBlock {display:inline !important;}
.borderNone {border:none !important;}
.scrollArea {overflow-x:hidden;overflow-y:scroll;}
/* IR 기법 */
.hidden {position:absolute; top:-11000px; left:-11000px; width:0; height:0; overflow:hidden;}
.ie7 .hidden {position:static; font-size:0; line-height:0;}
/* 한 줄일 때, 말줄임표 */
.ellipsis {position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} /* width 별도 설정 */
/*투명도*/
.opacity0 {opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0);}
/* 세로 가운데 정렬을 위한 빈태그용 */
.blank {display:inline-block; width:0; vertical-align:middle; overflow:hidden; vertical-align:middle;} /* 높이 별도 설정 */

/* table */
table.tblDef, table.tblDef > thead, table.tblDef > tbody, table.tblDef > tfoot, table.tblDef > * > tr, table.tblDef> * > tr > *,
table.tblPoint, table.tblPoint > thead, table.tblPoint > tbody, table.tblPoint > tfoot, table.tblPoint > * > tr, table.tblPoint * > tr > *,
table.inputTbl, table.inputTbl > thead, table.inputTbl > tbody, table.inputTbl > tfoot, table.inputTbl > * > tr, table.inputTbl * > tr > *,
table.innerTbl, table.innerTbl > thead, table.innerTbl > tbody, table.innerTbl > tfoot, table.innerTbl > * > tr, table.innerTbl * > tr > *,
table.calendar, table.calendar > thead, table.calendar > tbody, table.calendar > tfoot, table.calendar > * > tr, table.calendar * > tr > * {margin:0;padding:0;border:0 none;}

table.tblDef,
table.tblPoint,
table.inputTbl,
table.innerTbl,
table.calendar {width:100%; border:0; border-collapse:separate; border-spacing:0;}
.ie7 table.tblDef,
.ie7 table.tblPoint,
.ie7 table.inputTbl,
.ie7 table.innerTbl,
.ie7 table.calendar {border-collapse:collapse;}
table.tblDef> * > tr > th,
table.tblPoint * > tr > th,
table.inputTbl * > tr > th,
table.innerTbl * > tr > th,
table.calendar * > tr > th {font-weight:normal;}
table.tblDef> * > tr > td,
table.tblPoint * > tr > td,
table.inputTbl * > tr > td,
table.innerTbl * > tr > td,
table.calendar * > tr > td {word-break:normal;}



/* Font */
.fwBold {font-weight:bold !important;}
.fwNormal {font-weight:normal !important;}
.fcWhite {color:#fff !important;}
.fcBlack {color:#000 !important;}
.fcRed {color: #f00 !important;}
.fcBlue {color: blue !important;}
.ffDotum {font-family:Calibri,'돋움', Dotum, 'Apple Gothic', sans-serif !important;}
.ffGulim {font-family:Calibri,'굴림', '굴림체', Gulim, 'Apple Gothic', sans-serif !important;}
.underline {text-decoration:underline !important;}
.italic {font-style:italic;}

/* cursor */
.cursorDef {cursor:default !important;}
.hand {cursor:pointer !important;}


/* Form Elememts */
input[type='text'],
input[type='password'],
input[type='file'],
select,
textarea {border:1px solid #ccc;}
textarea {padding:7px 10px; border:1px solid #cfcfcf; resize:vertical;}
.ie7 select {zoom:1;}

/* button 초기화 */
button.style-btn {overflow:visible; padding:0; border:0; cursor:pointer; white-space:nowrap;}
button.style-btn::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner {padding:0; border:0;}	/* FF 버튼 여백 없애기 */


/* default font-family */
body,
input[type='text'],
input[type='password'],
input[type='file'],
select,
textarea,
button {font-family:sans-serif;}


/* 공통 레이아웃 */
body {font-size:14px; line-height:1.5; color:#333; -webkit-text-size-adjust:none;}
.wrapper {position:relative; width:100%;word-break:normal;z-index:0;}

a.conLink {color:inherit;text-decoration:none;}

address {font-style: normal;}

/* skip Navigation */
#skipNavi dl {position:absolute;}
#skipNavi dt {position:absolute; top:-10000px;}
#skipNavi dd a {position:absolute; display:block; width:200px; left:50%; text-align:center; top:-10000px; z-index:999; font-size:16px;}
#skipNavi dd a:hover,
#skipNavi dd a:focus,
#skipNavi dd a:active {position:absolute; top:5px; padding:15px 0; margin-left:-500px; font-weight:bold; color:#fff; text-decoration:underline; background:#336ea2;}


#headerWrap a {display: block;}


.tabCon,
.toggleCon {display:none;}

.agreeCon,
.scrollArea {overflow-x: hidden;overflow-y: auto;}


.essen {position:relative;padding-left:1em;}
.essen:before {position: absolute;left: 0;top: 0;color: #f00;content: "*";line-height: 1em;}


/* 기본 table */
table.tblDef,
table.inputTbl {border-bottom:1px solid #d2d2d2;border-right:1px solid #d2d2d2;}

table.tblDef > * > tr > *,
table.inputTbl > * > tr > *,
table.innerTbl > * > tr > * {padding:10px;border-left:1px solid #d2d2d2;border-top:1px solid #d2d2d2;text-align:left;color: #222;}



table.tblDef > * > tr > * {padding: 10px 20px 12px;}


table.tblDef > * > tr > th,
table.tblDef > tfoot > tr > *,
table.inputTbl > * > tr > th,
table.innerTbl > * > tr > th {background-color:#f6f6f6;text-align: center;font-weight: normal;}

table.inputTbl > * > tr > th {}
table.inputTbl > * > tr > th .essen {margin-left: -1em;}
table.inputTbl > * > tr > th span {line-height: 33px;}
table.inputTbl > * > tr > td,
table.innerTbl > * > tr > td {padding:10px 20px;}

table.tblDef > thead > tr > * {background-color:#fbfbfb;color: #222;}
table.tblDef > * > tr > *.bg {background-color: #ffe7e7 !important;}
table.tblDef > thead > tr.bg > * {background-color: #f8f8f8;color: #222;}

table .bdLeft {border-left:1px solid #d2d2d2 !important;}


table.ac > * > tr > * {text-align:center !important;}
table.ac > * > tr > *.al {text-align:left !important;}


table.inputTbl > * > tr > th {text-align: center;}
table.inputTbl td > *:first-child,
table.inputTbl td .clear,
table.inputTbl input[type=radio]:first-child,
table.inputTbl input[type=checkbox]:first-child {margin-left: 0 !important;}

table.inputTbl input[type=text],
table.inputTbl input[type=password],
table.inputTbl select {}


table.inputTbl input[type=text],
table.inputTbl input[type=password] {width: 250px;height:26px;padding:2px 10px 3px;}

table.inputTbl input.inputSmall {width: 70px;}
table.inputTbl input.inputWide {width: 95%;}


table.inputTbl input[type=image] {vertical-align: middle;}

table.inputTbl td span,
table.inputTbl td label {display: inline-block;vertical-align: middle;}


table.inputTbl .multi > *,
table.inputTbl td.date *,
table.inputTbl td.phone *,
table.inputTbl td.address > *,
table.inputTbl td.name > *,
table.inputTbl td.birth > *,
table.inputTbl td.email > * {float: left;margin:0 0 0 5px;}
table.inputTbl .multi > *:first-child,
table.inputTbl .date > *:first-child {margin-left: 0;}


table.inputTbl .multi > span,
table.inputTbl .multi > label,
table.inputTbl td.date span,
table.inputTbl td.date label,
table.inputTbl td.phone span,
table.inputTbl td.phone label,
table.inputTbl td.address > span,
table.inputTbl td.address > label,
table.inputTbl td.birth > span,
table.inputTbl td.birth > label,
table.inputTbl td.email > span,
table.inputTbl td.email > label {line-height:33px;}


table.inputTbl div.multi {overflow:hidden;padding:10px;}

table.inputTbl .multi input[type=radio],
table.inputTbl .multi input[type=checkbox] {margin:10px 5px 0 20px;}
table.inputTbl .multi input[type=image] {margin-top: 10px;}

table.inputTbl .line > * {float:none;}
table.inputTbl .line input[type=radio],
table.inputTbl .line input[type=checkbox] {margin:10px 5px 0 0;}

table.inputTbl dl.overHidden {line-height:35px;}
table.inputTbl dl.overHidden > dt {padding-right:10px;}

table.inputTbl td.date input[type=image] {margin-top: 9px;}

table.inputTbl td.phone select,
table.inputTbl td.phone input:first-child {width:100px;}
table.inputTbl td.phone input {width: 120px;}

table.inputTbl td.address input[type=text] {width: 330px;margin-top: 5px;}
table.inputTbl td.address input[type=text]:first-child {width: 70px;margin-top: 0;}
table.inputTbl td.address input[type=text].clear {width: 520px;margin-left: 0;}
table.inputTbl td.address span.btn {padding-left:0;}

table.inputTbl td.name input[type=text] {width:120px;}

table.inputTbl td.email input[type=text],
table.inputTbl td.email select {width:180px;}
table.inputTbl td.email input[type=text]:first-child {width:250px;}

table.inputTbl td.email span {margin-left: 5px;}

table.inputTbl td.photo > p,
table.inputTbl td.photo > div {display: inline-block;}
table.inputTbl td.photo > p {width: 90px;height: 90px;border: 1px solid #dfdfdf;vertical-align: top;background-color: #f8f8f8;}
table.inputTbl td.photo > p img {width: 100%;height: 100%;}
table.inputTbl td.photo > div {padding-left: 10px;vertical-align: bottom;}

table.inputTbl td.photo div input[type=checkbox] {margin-top: 0;}
table.inputTbl td.photo div label {padding-left: 5px;}

table.inputTbl td.birth {}

table.inputTbl td.birth select {width:50px;}
table.inputTbl td.birth select:first-child,
table.inputTbl td.birth input[type=text] {width:70px;}
 
table.inputTbl span.fwBold {display:inline-block;padding:5px 10px 0 0;line-height:1.2;}

table.inputTbl .editArea {padding:0 !important;}


table.inputTbl td.author > * {float: left;margin:0 0 0 5px;}
table.inputTbl td.author select {width:80px;}

input.inputWide {width:90%;}

ul.option {margin: 0;padding: 0;}
ul.option > li {position: relative;margin: 10px 0 0;padding: 0 0 0 20px;list-style:none;}
ul.option > li:first-child {margin-top: 0;}
ul.option > li > input:first-chid {position: absolute;left: 0;top: 8px;margin: 0;}


span.inputC,
span.inputR {overflow: hidden;position: relative;display: inline-block;width: 24px;height: 24px;}
span.inputR {border-radius:12px;}
span.inputC input,
span.inputR input {position: absolute;left: 0;top: 0;display: block;width: 100%;height: 100%;margin: 0;opacity: 0;}

span.inputC:before,
span.inputR:before {display: block;width:24px;height: 24px;content: " ";background: #dcdcdc url('/asset/player/input_checked.png') center center no-repeat;}
span.inputR:before {border-radius: 12px;}
span.inputC.on:before,
span.inputR.on:before {background-color:#0065cf;}

input,
textarea {outline:none;}


div.selectFile {position: relative;padding-right: 75px;}
div.selectFile span {display: block;}
div.selectFile input[type=text] {width: calc(100% - 22px) !important;}
div.selectFile .find {position: absolute;right: 0;top: 0;width:66px;height:33px;background-color:#393939;background-image: none;}
div.selectFile .find:after {z-index:0;position:absolute;left:50%;top:50%;color:#fff;font-size:1em;line-height: 1em;padding: 0;margin:-.5em 0 0 -.5em;font-family: "Font Awesome 5 Brands";content: "\f3ee";font-weight: 900;}
div.selectFile .opacity0 {width: 100%;height: 100%;border: 0 none;padding: 0;opacity: 0;}

div.selectFile .attach {display:none;overflow: hidden;clear: both;margin: 5px 0 0;}
div.selectFile .attach > * {float: left;}
div.selectFile .attach input {margin: 5px 5px 0 0;}



table.inputTbl .editArea {padding:0;}
.editArea .cke span {display:inline;vertical-align:middle;line-height:initial;}
.editArea .cke_chrome {border:0 none;box-shadow:none;}

.cke .cke_voice_label,
.cke_button_label {display:none !important;}
.cke_toolbox:after {clear:both;display:block;font-size:0;line-height:0;height:0;content:".";}
.cke_top, .cke_contents, .cke_bottom {display:block !important;}


ul.tabMenu, ul.tabMenu li, ul.tabMenu a {margin: 0;padding: 0;list-style:none;text-decoration: none;}
ul.tabMenu li {float: left;}
ul.tabMenu a {display: block;}


strong {font-family: 'NotoSansKR Bold', sans-serif;font-weight: normal;}
.fcRed {color: #ed1c24 !important;}

ul.txtIn1, ul.txtIn1 > li {margin: 0;padding: 0;list-style:none;}
ul.txtIn1 > li {margin-top: 5px;padding-left: 1em;text-indent: -1em;}
ul.txtIn1 > li:first-child {margin-top: 0;}
ul.txtIn1 > li * {text-indent: 0;}


/* 버튼 */
.btn a,
.btn input,
.btn button {display:inline-block;text-decoration:none;cursor:pointer;height:40px;padding:0 10px 1px;font-size:14px;line-height: 20px;border-width:1px;border-style: solid;vertical-align:top;font-weight: 400;font-family: 'NotoSansKR Regular', sans-serif;}

.btn a {height:auto;line-height:20px;padding:8px 15px 10px;}
.btn a.twoLine {}
.btn a:before {display: inline-block;padding-right: 10px;}

.btn .btnSmall {font-size: 13px;height: 26px;padding:1px 16px 0;vertical-align:top;font-family: 'Dotum', sans-serif;}
.btn a.btnSmall {height:auto;padding: 6px 16px 4px;line-height: 14px;}

.btn .btnSSmall {font-size: 11px;height: 17px;padding:1px 10px 0;border-radius:4px;vertical-align:top;font-family: 'Dotum', sans-serif;line-height: 14px;}
.btn a.btnSSmall {height:auto;}

.btn .btnBig {min-width:190px;font-size: 18px;height: 60px;padding:0 0 2px;box-sizing:border-box;text-align: center;}
.btn a.btnBig {min-width:150px;padding: 19px 20px 20px;}

.btn a.btnImg {border: 0  none;padding: 0;}
.btn a.btnImg img {display: block;}

/* 파란색*/			.btnDef {background-color: #0065cf !important;border-color: #0065cf !important;color: #fff !important;}
/* 남색 */				.btnPoint {background-color:#324265 !important;border-color:#324265 !important;color:#fff !important;}
/* 빨간색 */			.btnRed {background-color:#e40404 !important;border-color:#e40404 !important;color:#fff !important;}
/* 파란색 */			.btnBlue {background-color:#1d2088 !important;border-color:#1d2088 !important;color:#fff !important;}
/* 파란색 */			.btnGreen {background-color:#008040 !important;border-color:#004623 !important;color:#fff !important;}

/* 회색 */				.btnGrey {background-color:#828181 !important;border-color:#828181 !important;color:#fff !important;}
/* 연회색 */			.btnLGrey {background-color:#888 !important;border-color:#888 !important;color:#fff !important;}


/* border+ 파란색*/ 		.btnBdDef {background-color:#fff !important;border-color:#0065cf !important;color:#0065cf !important;}
/* border+ 남색 */			.btnBdPoint {background-color:#fff;border-color:#324265;color:#324265;}
/* border+ 회색 */			.btnBdGrey {background-color:#fff;border-color:#828181;color:#828181;}
/* border+ 연회색 */		.btnBdLGrey {background-color:#f5f5f5;border-color:#b3b3b3;color:#454545;}


/* 삭제 */			.btnDel {background-color:#fff !important;border-color:#e91c51 !important;color:#e91c51 !important;}

.scrollArea,
textarea {scrollbar-3dLight-Color: #dcdcdc; scrollbar-arrow-color: #dcdcdc; scrollbar-base-color: #0065cf; scrollbar-Face-Color: #0065cf; scrollbar-Track-Color: #dcdcdc; scrollbar-DarkShadow-Color: #dcdcdc; scrollbar-Highlight-Color: #dcdcdc; scrollbar-Shadow-Color: #dcdcdc}
.scrollArea::-webkit-scrollbar,
textarea::-webkit-scrollbar {width: 8px;background-color: #dcdcdc;}
.scrollArea::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {background-color: #222;}


ul.conMenu, ul.conMenu li, ul.conMenu a {margin: 0;padding: 0;list-style:none;text-decoration: none;}
ul.conMenu {overflow: hidden;}
ul.conMenu > li {float: left;padding-left: 10px;}
ul.conMenu > li:first-child {padding-left: 0;}
ul.conMenu a {display: block;padding: 14px 36px;border-radius:4px;color: #fff;background-color: #999;font-family: 'NotoSansKR Bold', sans-serif;font-size: 16px;}
ul.conMenu .on a {background-color: #2b5cbf;}


