@charset "utf-8";
@import url('fontawesome.css');
@import url('simple-line-icons.css');
@import url('NotoSansKR.css');
@import url('Roboto.css');
@import url('Digital7.css');
@import url('OpenSans.css');
@import url('swiper.css');
@import url('base.css');
* {-webkit-text-size-adjust: 100%;}



* a {text-decoration: none;}
.eng {font-family: 'Roboto-Regular', sans-serif !important;}
.kor {font-family: 'NotoSansKR Regular', sans-serif !important;}

div.agreeCon::-webkit-scrollbar,
div.scrollArea::-webkit-scrollbar {width:10px;}
div.agreeCon::-webkit-scrollbar-track,
div.scrollArea::-webkit-scrollbar-track {background-color: #e6e6e6;}
div.agreeCon::-webkit-scrollbar-thumb,
div.scrollArea::-webkit-scrollbar-thumb {background-color: #a9a9a9;}



span.inputC, 
span.inputR {overflow: hidden;position: relative;display: inline-block;width: 30px;height: 30px;border: 1px solid #565656;border-radius:3px;background-color: #fff;box-sizing:border-box;}
span.inputR {border-radius: 50%;}
span.inputC:before,
span.inputR:before {display: none;}

span.inputC.on,
span.inputR.on {border: 0 none;background-color: #2e4497;}

span.inputC.on:before,
span.inputR.on:before {display: block;position: absolute;left: 50%;top: 50%;width: 16px;height: 16px;margin: -8px 0 0 -8px;content: "";background: url('player/input_checked.png') center center no-repeat;}

span.inputC input,
span.inputR input {position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;margin: 0;}

.btn * {display: inline-block;box-sizing:border-box;}

/* 남색 */			.btn .btnDef {background-color:#272b4b !important;border-color:#272b4b !important;color:#fff !important;}
/* 빨간색 */		.btn .btnPoint {background-color:#c61745 !important;border-color:#c61745 !important;color:#fff !important;}

.btn span.btnBg {position: relative;display: inline-block;vertical-align: top;background-position: center center;background-repeat: no-repeat;}
.btn span.btnBg * {z-index: 10;position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;}

.btn .btnConfirm {background-image: url('player/btn_confirm.png');}

.btn .btnArr {position: relative;padding-right: 46px !important;}
.btn .btnArr:after {position: absolute;right: 25px;top: 50%;width: 11px;height: 10px;margin-top: -5px;content: "";background: url('player/btnBl_arr.png') center center no-repeat;}

.btn .btnOk {position: relative;padding-right: 46px !important;}
.btn .btnOk:after {position: absolute;right: 25px;top: 50%;width: 15px;height: 18px;margin-top: -9px;content: "";background: url('player/btnBl_ok.png') center center no-repeat;}

.btn .btnOk input {z-index: 10;position: absolute;left: 0;top: 0;width: 100%;height: 100%;padding: 0 0 0 25px;text-align: left;font-size: 17px;background-color: transparent !important;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}

div#cboxOverlay {background-color: #000 !important;}


.fixed {z-index: 110;position: fixed !important;}

div#player {}


div#playzone {position: relative;padding: 174px 20px 20px;border: 1px solid #ccc;border-top: 2px solid #272b4b;}
div#playzone #my_video {height: 719px;}
div#playzone .jw-wrapper {background-color: #383a48;}

div.playerPannel {position: absolute;left: 0;top: 0;width: 100%;box-sizing:border-box;background-color: #fff;}
div.playerPannel.fixed {box-shadow:0 5px 10px rgba(0,0,0,.3);}

div.playerPannel div.scrollArea {overflow-x: auto;overflow-y: hidden;padding: 20px;}
div.playerPannel div.scrollArea::-webkit-scrollbar {width: 6px;height: 6px;}
div.playerPannel div.scrollArea::-webkit-scrollbar-track {background-color: #e6e6e6;}
div.playerPannel div.scrollArea::-webkit-scrollbar-thumb {background-color: #a9a9a9;}



dl.sessionInfo, dl.sessionInfo dt, dl.sessionInfo dd {margin: 0;padding: 0;}
dl.sessionInfo {width: 1258px;margin: 0 auto;position: relative;padding: 0 392px 0 95px;box-sizing:border-box;}
dl.sessionInfo:before {position: absolute;left: 0;top: 0;width: 78px;height: 100%;content: "";background-color: #ef3a62;}

dl.sessionInfo span {display: block;}
dl.sessionInfo span.room {position: absolute;left: 0;top: 50%;transform:translateY(-50%);width: 78px;letter-spacing: -0.5px;text-align: center;color: #fff;font-size: 14px;line-height: 16px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
dl.sessionInfo span.room:after {display: block;content: attr(pub-room);font-size: 14px;font-family: 'Roboto-Light', 'NotoSansKR DemiLight', sans-serif;}

dl.sessionInfo dt {display: table-cell;width: 1300px;height: 78px;vertical-align: middle;line-height: 20px;}
dl.sessionInfo span.tit {color: #000;font-size: 18px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;letter-spacing: -0.5px;}
dl.sessionInfo span.name {font-size: 14px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;color: #444;  letter-spacing: -0.5px;  margin-top: 5px;}
dl.sessionInfo span.name:before {display: inline-block;vertical-align: top;content: "Participant : ";font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;color: #000;margin-right: 7px;}

dl.sessionInfo dd.btn {position: absolute;right: 0;top: 50%;transform:translateY(-50%);text-align: right;font-size: 0;line-height: 0;}
dl.sessionInfo dd.btn a {display: inline-block;vertical-align: top; width: 185px;font-size: 15px;line-height: 50px;padding: 0;color: #fff;text-align: center;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
dl.sessionInfo dd.btn a + a {margin-left: 10px;}

dl.sessionInfo dd.btn a.in {background-color: #267fb9;border-color: #267fb9;}
dl.sessionInfo dd.btn a.out {background-color: #e95513;border-color: #e95513;}
dl.sessionInfo dd.btn a.log {background-color: #d13d3d;border-color: #d13d3d;}
dl.sessionInfo dd.btn li.log {background-color: #d13d3d;border-color: #d13d3d;}
dl.sessionInfo dd.btn a.exit {background-color: #12a07d;border-color: #12a07d;}
dl.sessionInfo dd.btn a.out span {color: #ffeb3b; animation-duration:1s;animation-name:roomOut; animation-iteration-count: infinite;}
@keyframes roomOut {
	0% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:0;}
}



ul.playerMenu, ul.playerMenu li, ul.playerMenu a {margin: 0;padding: 0;list-style:none;text-decoration: none;}
ul.playerMenu {width: 1258px;margin: 0 auto;margin-top: 15px !important;text-align: center;font-size: 0;line-height: 0;background-color: #ebebeb;}
ul.playerMenu li {position: relative;display: inline-block;vertical-align: top;padding: 0 30px;}
ul.playerMenu li:before {position: absolute;left: 0;top: 50%;transform:translateY(-50%);content: "";width: 1px;height: 12px;background-color: #b3b3b3;}
ul.playerMenu li:first-child:before {display: none;}
ul.playerMenu a {display: block;color: #000;font-size: 16px;line-height: 45px;font-family: 'Roboto-Bold', 'NotoSansKR Regular', sans-serif;}
ul.playerMenu .on a {color: #202e7b;font-family: 'Roboto-Bold', 'NotoSansKR Bold', sans-serif;}
ul.playerMenu a:hover{color: #202e7b;}

.txtFlicker {animation-duration: .7s;animation-name:txtFlicker; animation-iteration-count: infinite;}
@keyframes txtFlicker {
	50% {color: #e91e63;}
}

dl.viewPopup, dl.viewPopup dt, dl.viewPopup dd {margin: 0;padding: 0;}
dl.viewPopup {display: none;z-index: 90;}

div.playerPannel.fixed dl.viewPopup {top: 210px !important;}


dl.viewPopup > dd.close a,
dl.viewPopup > dd.close img {display: block;}

dl.viewPopup .scrollArea::-webkit-scrollbar {width: 8px;background-color: #b3b3b3;}
dl.viewPopup .scrollArea::-webkit-scrollbar-thumb {background-color: #697985;}


/* 긴급알림*/
dl.viewPopup.notice {position: fixed;left: 50%;top: 210px;width: 466px;padding: 20px;background-color: #fff;box-sizing:border-box;box-shadow:0 0 20px rgba(0,0,0,.3);}
dl.viewPopup.notice > dt {padding-bottom: 10px;color: #0068b6;font-size: 24px;line-height: 30px;background: none !important;font-family: 'NotoSansKR Bold', sans-serif;}
dl.viewPopup.notice:before {position: absolute;left: 28px;top: -13px;width: 16px;height: 13px;content: "";background: url('player/viewPopup_bg.png') 0 0 no-repeat;}
dl.viewPopup.notice > dd.scrollArea {height: 190px;}
dl.viewPopup.notice > dd.close {position: absolute;right: 20px;top: 20px;}



/* Voting */
dl.viewPopup.voting {position: absolute;right: 30px;bottom: 43px;width: 930px;height: 80px;padding: 17px 75px 16px 120px;background-color: #fff;box-sizing:border-box;}

dl.voting dt {position: absolute;left: 30px;top: 50%;transform:translateY(-50%);padding-bottom: 10px;color: #0068b6;font-size: 24px;line-height: 34px;font-family: 'NotoSansKR Bold', sans-serif;letter-spacing:-1px;}
dl.voting dd.close {position: absolute;right: 24px;top: 50%;transform:translateY(-50%);}
dl.voting p {margin: 0;padding: 3px 0 4px;color: #4d4d4d;font-size: 17px;line-height: 20px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.voting p,
dl.voting ul {display: inline-block;vertical-align: top;}

ul.votingOption {padding-left: 35px;text-align: center;font-size: 0;line-height: 0;}
ul.votingOption li {display: inline-block;width: 47px;height: 47px;padding-left: 15px;}
ul.votingOption li:first-child {padding-left: 0;}
ul.votingOption a {display: block;width: 47px;height: 47px;color: #0068b6;border: 2px solid #0068b6;border-radius:50%;text-align: center;font-size: 19px;line-height: 43px;font-family: 'NotoSansKR Medium', sans-serif;background-color: #fff;box-sizing:border-box;}
ul.votingOption .on a,
ul.votingOption a:hover,
ul.votingOption a:focus {background-color: #0068b6;color: #fff;}




/* Currently on-Air */
dl.viewPopup.otherRoom {width: 900px;}
dl.viewPopup.otherRoom:before {left: auto;right: 120px;}
dl.viewPopup.otherRoom > dd.scrollArea {height: 200px;padding-right: 10px;}

dl.session, dl.session dt, dl.session dd {margin: 0;padding: 0;}
dl.session {position: relative;margin-top: 10px;padding: 10px 78px 10px 20px ;border-top: 2px solid #272b4b; border-bottom: 1px solid #ccc;}
dl.session:first-child {margin-top: 0;}

dl.session > dt {color: #000;font-size: 15px;line-height: 20px;font-family: 'Roboto-Medium','NotoSansKR Medium', sans-serif;}
dl.session > dt span {display: inline-block;vertical-align: bottom;color: #383838;font-size: 14px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}

dl.session > dd span {display: block;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}

dl.session span.session {color: #044fa2;font-size: 15px;}
dl.session span.tit {color: #000;font-size: 14px;}
dl.session span.name {color: #535353;font-size: 13px;font-family: 'Roboto-Light', 'NotoSansKR Light', sans-serif;}

dl.session a.enter {position: absolute;right: 0;top: 0;width: 62px;height: 100%;font-size: 0;line-height: 0;background: #ccc url('player/btn_enter.png') center center no-repeat;}

dl.session .btn {font-size: 0;line-height: 0;  margin: 10px 0;}
dl.session .btn > * {display: inline-block;vertical-align: top;padding: 0 10px;color: #fff;background-color: #45485a;font-size: 14px;line-height: 20px;font-family: 'Roboto-Light', sans-serif;}


dl.session:hover {background-color: #e9f1fb;}
dl.session:hover a.enter {background-color: #044fa2;}




/* Q&A */
dl.qna, dl.qna dt, dl.qna dd {margin: 0;padding: 0;}
dl.qna {position: relative;margin-top: 15px;padding: 20px 20px 20px 155px;background-color: #f2f2f2;}
dl.qna > dt {position: absolute;left: 20px;top: 50%;transform:translateY(-50%);width: 118px;height: 44px;text-align: center;color: #fff;font-size: 16px;line-height: 44px; pointer-events: none;font-family: 'Roboto-Light', sans-serif;background-color: #48adbe;}
dl.qna > dd {position: relative;height: 42px;padding: 0 90px 0 170px;border: 1px solid #e4e4e4;background-color: #fff;}
dl.qna > dd:before {position: absolute;left: 170px;top: 50%;transform:translateY(-50%);content: "";width: 1px;height: 24px;background-color: #c9c9c9;}
dl.qna select {position: absolute;left: 0;top: 0;width: 160px;height: 42px;padding: 10px;border: 0 none;box-sizing:border-box;color: #222; font-size: 15px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
dl.qna textarea {width: 100%;height: 42px;padding: 10px;background-color: #fff;border: 0 none;box-sizing:border-box;color: #222; font-size: 14px;line-height: 20px;font-family: 'NotoSansKR Regular', sans-serif;resize:none;}
dl.qna textarea::placeholder {color: rgba(0,0,0,.3);font-size: 15px;}
dl.qna input[type=submit] {position: absolute;right: -1px;top: -1px;width: 90px;height: 44px;border: 0 none;border-left: 1px solid #e4e4e4;cursor: pointer;color: #fff;background-color: #61606d;font-size: 15px;font-family: 'Roboto-Medium', sans-serif;}




dl.sponsor, dl.sponsor dt, dl.sponsor dd, dl.sponsor ul, dl.sponsor li, dl.sponsor a {margin: 0;padding: 0;list-style:none;text-decoration: none;}

dl.sponsor {margin-top: 40px;padding: 0 15px;}
dl.sponsor:after {clear: both;display: block;height: 0;line-height: 0;font-size: 0;content: "";}
dl.sponsor > * {float: left;}
dl.sponsor dt {width: 120px;line-height: 50px;font-size: 15px;color: #324270;font-family: 'Roboto-Medium', sans-serif;}

dl.sponsor dd > ul {overflow: hidden;}
dl.sponsor dd > ul li {float: left;    margin-right: 33px;}
dl.sponsor dd a {display: table-cell;height: 50px;vertical-align: middle;}

dl.sponsor dd {position: relative;width: calc(100% - 120px);box-sizing:border-box;}
dl.sponsor dd li {max-width: 10% !important;}
dl.sponsor dd li img {width: 100%;}
dl.sponsor a.bx-prev,
dl.sponsor a.bx-next {position: absolute;top: 0;width: 20px;height: 100%;font-size: 0;line-height: 0;background-position: center center;background-repeat: no-repeat;}
dl.sponsor a.bx-prev {left: 0;background-image: url('layout/footer_prev.png');}
dl.sponsor a.bx-next {right: 0;background-image: url('layout/footer_next.png');}



































dl.room, dl.room dt, dl.room dd {margin: 0;padding: 0;}
dl.room {min-height: 530px;background-color: #fff;}
dl.room dt {padding: 20px;background-color: #4856a1;color: #fff;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.room dt span {display: block;}
dl.room dt span.tit {font-size: 17px;line-height: 23px;font-weight: normal;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
dl.room dt span.time {font-size: 13px;line-height: 17px;}
dl.room dt span.session {margin-top: 10px;color: #fff;font-size: 14px;line-height: 20px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
dl.room dt span.info {font-size: 14px;line-height: 20px;}
dl.room dt span.info > span{display: inline-block; color: #ffeb3b;}
dl.room dd.chiars {padding: 20px 20px 10px;color: #242424;font-size: 15px;line-height: 18px;font-family: 'Roboto-Regular','NotoSansKR Regular', sans-serif; font-style: italic;}
dl.room dd.chiars span {display: inline-block;vertical-align: top;color: #242424;font-family: 'Roboto-BoldItalic', sans-serif;}
dl.room dd {padding: 0 20px 20px;box-sizing:border-box;}

dl.room ul, dl.room li, dl.room span {display: block;margin: 0;padding: 0;list-style: none;}
dl.room ul {padding-top: 10px;}
dl.room li {color: #9b9b9b;font-size: 14px;line-height: 14px;font-family: 'Roboto-Light', 'NotoSansKR DemiLight', sans-serif;}
dl.room li span.time {margin-bottom: 5px; color: #252525;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.room li span.tit {margin-bottom: 5px; color: #4856a1;line-height: 17px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.room li span.speaker{color: #464748;margin-top: 5px;line-height: 18px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.room li span.btn {font-size: 0;line-height: 0;  margin: 10px 0;}
dl.room li span.btn > * {display: inline-block;vertical-align: top;padding: 0 10px;color: #fff;background-color: #45485a;font-size: 14px;line-height: 20px;font-family: 'Roboto-Light', sans-serif;}

div.moreCon div.onAir {margin: 0;}
div.moreCon div.onAir a {display: block;width: 100%;padding: 15px;background-color: #323c70;text-align: center;color: #fff;font-size: 15px;line-height: 25px;font-family: 'Roboto-Medium', sans-serif;box-sizing:border-box;animation: onair-blink 1s infinite;}

@keyframes onair-blink {
	0% {color: #fff;}
	50% {color: #f6c10a;}
	100% {color: #fff;}
}

dl.room dd.list {overflow-y:auto; overflow-x:hidden; height:342px; box-sizing:border-box;}
dl.room dd.list::-webkit-scrollbar {width:10px;}
dl.room dd.list::-webkit-scrollbar-track {background-color: #c4c4c4;}
dl.room dd.list::-webkit-scrollbar-thumb {background-color: #585a65;}


div.moreCon.chat {min-height: 610px;}

ul.playUtil, ul.playUtil li, ul.playUtil a {margin: 0;padding: 0;list-style:none;text-decoration: none;}
ul.playUtil {width: 220px;padding: 0 20px;}
ul.playUtil li {padding-top: 10px;}
ul.playUtil li:first-child {padding-top: 0;}

ul.playUtil a,
p.onAir a {cursor: pointer; box-sizing: border-box;position: relative;display:table-cell;width: 220px;height: 45px;background-color: #fff;color: #000;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;font-size: 15px;line-height: 25px;text-align: center;    padding: 6px 5px ;vertical-align: middle;letter-spacing:-1px;}
ul.playUtil .on a,
ul.playUtil a:hover,
ul.playUtil a:focus,
p.onAir .on a,
p.onAir a:hover,
p.onAir a:focus {color: #b82d2d;}

ul.playUtil a.out {color: #fff;background-color: #4383de;}

p.bnr {position: absolute;left: 30px;bottom: 190px;width: 200px;}
p.bnr a {display: block;height: 140px;cursor: pointer;}

p.onAir {position: absolute;left: 30px;bottom: 120px;width: 200px;}

/* .onAir{-webkit-animation: onAir 2.5s linear infinite;line-height: 22px;}
@-webkit-keyframes onAir {
	0% { color: #E91E63;}
    100% {color: #0077d5;} 
} */



dl.programInfo, dl.programInfo dt, dl.programInfo dd {margin: 0;padding: 0 5px 0 0;}
dl.programInfo {overflow-x: hidden;overflow-y: auto;margin: 5px 15px;  max-height: 300px;color: #fff;border-bottom: 1px solid #fff; padding-bottom: 5px; }
 

dl.programInfo dt {position: relative;margin-top: 5px;color: #f5cb22;font-size: 15px;font-family: 'NotoSansKR Regular', sans-serif; border-top: 1px solid #fff;  padding-top: 3px; }
dl.programInfo dt:first-child {border-top: 1px solid rgba(255,255,255,.5); }
dl.programInfo dl > dd{ color: #fff; }

dl.programInfo dt span {display: inline-block;padding-right: 5px;color: #ffd43e;font-size: 15px;}
dl.programInfo dd {text-indent: -10px;padding-left: 10px; margin-top: 6px;color: #ffffff;    word-break: keep-all;  font-size: 14px;font-family: 'Roboto-Light', 'NotoSansKR DemiLight', sans-serif;line-height: 17px;}
dl.programInfo p{color: #ffc107;}
dl.programInfo p span {color: #a0e8ff;  margin: 0 2px;}
dl.programInfo::-webkit-scrollbar {width:10px;}
dl.programInfo::-webkit-scrollbar-track {background-color: #cecece;}
dl.programInfo::-webkit-scrollbar-thumb {background-color: #fff;}


p.note {margin: 0;padding: 10px 0 0;color: rgba(255,255,255,.8);font-size: 12px;font-family: 'Roboto-Light', 'NotoSansKR DemiLight', sans-serif;}




div.utilPopup.onAir {top:auto;bottom: 70px; ;width:940px;	}
div.utilPopup.info {top:337px; ;width: 810px;    padding: 15px 10px 15px;}
div.utilPopup.onAir:after {top: auto;bottom: 21px;}
div.utilPopup.onAir > dl > dt {color: #1b1b1b;padding-bottom: 20px;}
div.utilPopup.onAir > dl > dd {height: 260px;}


/* 팝업 > Program */

#popupProgram div.popupWrap {width: 1200px;height: 840px;margin: 0;}
#popupProgram div.popupCon {padding: 30px;}
#popupProgram h2 {margin-bottom: 20px;padding: 0 0 0 28px;background: url('layout/program_bl.png') 0 9px no-repeat;font-size: 22px;line-height: 30px;color: #1b1764;font-weight: normal;font-family: 'Roboto-Bold', 'NotoSansKR Bold', sans-serif;}
#popupProgram ul.subMenu {padding-bottom: 20px;}
#popupProgram div.scrollArea {height: 632px;}
table.program {width: 100%; text-align: center; border-collapse:collapse;}
table.program:first-child{margin-top: 0;}
table.program + table.program {margin-top: 50px;}

table.program tr > * {padding: 0 20px; font-size: 16px;	height: 10px;}
table.program th.emptyLine {background-color: #fff !important; padding: 5px 0; height: auto;}

table.program thead th {background-color: #eee; color: #000; height: 50px;}

table.program tbody tr > td:first-child {text-align: center; padding: 14px 10px 15px;}
table.program tbody tr > td {position: relative; font-size:16px; line-height: 28px; padding: 10px 10px 11px;}
table.program tbody tr > td strong {font-weight: normal; font-family:'Roboto-Bold',sans-serif; }
span.icon_k {display: inline-block; background-color: #e56315; color: #fff; padding: 0; width: 28px; font-size: 14px; line-height: 28px; font-family:'Roboto-Bold',sans-serif; border-radius: 50%; margin-left: 5px; text-align: center;}
span.icon_e {display: inline-block; background-color: #6815e5; color: #fff; padding: 0; width: 28px; font-size: 14px; line-height: 28px; font-family:'Roboto-Bold',sans-serif; border-radius: 50%; margin-left: 5px; text-align: center;}

table.program.day1 thead tr:first-child th {background-color: #537fc6; color: #fff;}
table.program.day2 thead tr:first-child th {background-color: #60497a; color: #fff;}
table.program.day3 thead tr:first-child th {background-color: #92915c; color: #fff;}
table.program a.onAir {width: 65px;height: auto;padding: 0;border-radius: 10px;background-color: #d12122;border: 0 none;color: #fff;font-size: 13px;line-height: 20px;font-family: 'Roboto-Medium', sans-serif;letter-spacing: -0.5px;}

/* 팝업 > Detail */
#popupDetail div.popupWrap {width: 940px;height: 310px;margin: -155px 0 0 -470px;}
#popupDetail div.popupCon {position: relative;padding: 24px 30px 30px;}
#popupDetail h2 {margin: 0;padding: 0;color: #323c70;font-size: 24px;line-height: 30px;font-weight: normal;font-family: 'Roboto-Medium','NotoSansKR Medium', sans-serif;}
#popupDetail h2 span {display: inline-block;padding-left: 10px;vertical-align: middle;color: #464646;font-size: 15px;font-weight: normal;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
#popupDetail div.utill {position: absolute;top: 20px;right: 70px;margin: 0;padding: 0;}
#popupDetail div.utill a.favor {display: block;width: 37px;height: 37px;border-radius: 50%;background: #ed7c32 url('layout/icon_favor.png') center center no-repeat;font-size: 0;line-height: 0;text-decoration: -9999px;}

#popupDetail dl.session {margin: 10px 0 0;padding: 0;overflow: initial;height: auto;}
#popupDetail dl.session dt {padding: 0 0 5px;background-color: transparent;font-size: 15px;line-height: 25px;color: #000;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
#popupDetail dl.session dd {padding: 0;margin: 0;height: 185px;}

#popupDetail dl.session dd::-webkit-scrollbar {width:10px;}
#popupDetail dl.session dd::-webkit-scrollbar-track {background-color: #c4c4c4;}
#popupDetail dl.session dd::-webkit-scrollbar-thumb {background-color: #585a65;}

#popupDetail dl.session table {width: 100%;border-top: 1px solid #3f3e58;border-spacing:0px;border-collapse:collapse;}
#popupDetail dl.session table > * > tr > * {height: 25px;padding: 5px;color: #333;border-bottom: 1px solid #ccc;font-size: 13px;line-height: 13px;font-family: 'Roboto-Light', sans-serif;text-align: center;}
#popupDetail dl.session table a {color: #333;text-decoration: none;}
#popupDetail dl.session td.chairs {padding: 5px 15px;background-color: #f1f1f8;text-align: right;}
#popupDetail dl.session td.chairs span {display: inline-block !important;padding-right: 5px;font-weight: normal;font-size: 14px;font-family: 'Roboto-Medium', sans-serif;}
#popupDetail dl.session td.tit {text-align: left;font-size: 14px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
#popupDetail dl.session a.vod {display: inline-block;width: 50px;border-radius: 10px;background-color: #824137;vertical-align: middle;text-align: center;color: #fff;font-size: 13px;line-height: 20px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}

#popupDetail .close {top: 30px;right: 30px;}
#popupDetail .close a {width: 20px;height: 20px;}
#popupDetail .close img {height: auto;}

/* 팝업 > 프로그램 정보 */
#popupPaginfo div.popupWrap {width: 940px;height: 310px;margin: -155px 0 0 -470px;}
#popupPaginfo div.popupCon {position: relative;padding: 24px 30px 30px;}
#popupPaginfo h2 {margin: 0;padding: 0;color: #323c70;font-size: 24px;line-height: 30px;font-weight: normal;font-family: 'Roboto-Medium','NotoSansKR Medium', sans-serif;}
#popupPaginfo h2 span {display: inline-block;padding-left: 10px;vertical-align: middle;color: #464646;font-size: 15px;font-weight: normal;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
#popupPaginfo div.utill {position: absolute;top: 20px;right: 70px;margin: 0;padding: 0;}
#popupPaginfo div.utill a.favor {display: block;width: 37px;height: 37px;border-radius: 50%;background: #ed7c32 url('layout/icon_favor.png') center center no-repeat;font-size: 0;line-height: 0;text-decoration: -9999px;}

#popupPaginfo dl.session {margin: 10px 0 0;padding: 0;overflow: initial;height: auto;}
#popupPaginfo dl.session dt {padding: 0 0 5px;background-color: transparent;font-size: 15px;line-height: 25px;color: #000;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
#popupPaginfo dl.session dt span {display: inline-block;vertical-align: top;font-weight: normal;font-family: 'Roboto-Light', 'NotoSansKR DemiLight', sans-serif;}
#popupPaginfo dl.session dd {padding: 0;margin: 0;height: 185px;}

#popupPaginfo dl.session dd::-webkit-scrollbar {width:10px;}
#popupPaginfo dl.session dd::-webkit-scrollbar-track {background-color: #c4c4c4;}
#popupPaginfo dl.session dd::-webkit-scrollbar-thumb {background-color: #585a65;}

#popupPaginfo dl.session table {width: 100%;border-top: 1px solid #3f3e58;border-spacing:0px;border-collapse:collapse;}
#popupPaginfo dl.session table > * > tr > * {height: 25px;padding: 5px;color: #333;border-bottom: 1px solid #ccc;font-size: 14px;line-height: 15px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;text-align: center;}
#popupPaginfo dl.session table > thead > tr > th {background-color: #f1f1f8;font-weight: normal;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
#popupPaginfo dl.session table a {color: #333;text-decoration: none;}
#popupPaginfo dl.session td.tit {text-align: left;}

#popupPaginfo .close {top: 30px;right: 30px;}
#popupPaginfo .close a {width: 20px;height: 20px;}
#popupPaginfo .close img {height: auto;}


div.utilPopup.onAir .close {position: absolute;right: 30px;top: 25px;width: 21px;height: 21px;}
div.utilPopup.onAir .close a, div.utilPopup.notice .close img {display: block;}

dl.roomInfo, dl.roomInfo dt, dl.roomInfo dd, dl.roomInfo ul, dl.roomInfo li {margin: 0;padding: 0;list-style:none;}
dl.roomInfo {position: relative;padding: 10px 75px 10px 10px;border: 1px solid #ccc;border-top: 2px solid #272b4b;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;color: #000;font-size: 14px;}
dl.roomInfo:after {clear: both;display: block;height: 0;line-height: 0;font-size: 0;content: "";}
dl.roomInfo + dl.roomInfo {margin-top: 5px;}
dl.roomInfo > * { }
dl.roomInfo > dt {font-size: 18px;font-weight: 500;}
dl.roomInfo > dt span.date {position: relative;padding:0 0 0 15px;color: #192c8d;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.roomInfo > dt span.date:before {position: absolute;left: 6px;top: 50%;width: 2px;height: 14px;margin-top: -7px;content: "";background-color: #72758e;}
dl.roomInfo > dd {padding: 0px 0 5px;}

dl.roomInfo > dd.tit { color: #000f64;font-size: 17px;}
dl.roomInfo > dd.chairs {font-size: 15px;}
dl.roomInfo > dd.clear {float: none;padding-bottom: 5px;border-top: 1px solid #e7f1ff;}
dl.roomInfo > dd.btn a {position: absolute;right: 0;top: 0;width: 62px;height: 100%;border: 0 none;padding: 0;text-indent: -10000px;background: #c9cbd5 url('player/btn_enter.png') center center no-repeat;}
dl.roomInfo > dd.btn a:hover{background-color:#e91e63;}
dl.roomInfo li {position: relative; color: #000000;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.roomInfo li span { }
dl.roomInfo li span:first-child {left: 0; right: auto;}
dl.roomInfo li span.time{ float: left;}
dl.roomInfo li span.title{ float: left;  font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif; width: 440px;word-break: keep-all;}
dl.roomInfo li span.speaker{text-align: right;  float: right;  font-size: 14px; width: 360px;    color: #040404;}

dl.roomInfo.active {background-color: #eaeeff;}
 
dl.roomInfo.active > dd.clear {border-top-color: #fff;}
dl.roomInfo.active > dd.btn a {background-color: #e91e63;}


/*세션 인포*/
div.utilPopup.info{padding: 20px 25px;}
div.utilPopup.info dl.roomInfo {color: #222;font-size: 14px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;padding: 10px 10px 10px 10px;}
div.utilPopup.info dl.roomInfo dt {padding-top: 25px;color: #00137f;font-size: 13px;font-family: 'Roboto-Bold', 'NotoSansKR Bold', sans-serif;    float: right;}
div.utilPopup.info dl.roomInfo dt:first-child {padding-top: 0;}
div.utilPopup.info dl.roomInfo span.tit {display: block;color: #131766;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;font-weight: bold;}
div.utilPopup.info dl.roomInfo + dl.roomInfo{margin-top:0;}
div.utilPopup.info ul.roomInfo li {padding-top: 10px;margin-top: 0px !important ;}
div.utilPopup.info ul.roomInfo span {display: block;color: #222;font-size: 15px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
div.utilPopup.info ul.roomInfo span.tit {color: #131766;font-weight: bold;}
 
div.utilPopup.info div.room div.btn {display: table-cell;width: 330px;height: 110px;text-align: center;vertical-align: middle;}
div.utilPopup.info div.room div.btn > * {display: inline-block;width: 325px;height: 50px;padding: 15px;margin: 10px auto 0;text-align: left;}
div.utilPopup.info div.room div.btn > *:first-child {margin-top: 0;}

div.utilPopup.info dl.roomInfo li span { }
div.utilPopup.info dl.roomInfo li span:first-child {left: 0; right: auto;}
div.utilPopup.info dl.roomInfo li span.time{float: right; }
div.utilPopup.info dl.roomInfo li span.title{ float: left; clear: both; font-size: 16px;width: 100%;word-break: keep-all; color: #14247b;}
div.utilPopup.info dl.roomInfo li span.speaker{display: block; text-align: left;  float: left;  font-size: 14px; width: 100%;color: #040404;}
div.utilPopup.info dl.roomInfo li span.lecture{font-weight: bold;color: #e91e63;font-size: 15px;}
div.utilPopup.info .scrollArea {max-height: 439px; border-bottom: 2px solid #272b4b ;color: #000;font-size: 15px;line-height: 20px;font-family: 'NotoSansKR DemiLight', sans-serif;}





/* 팝업 >  Technical Support */
#popupTech {position: relative;width: 800px;height: 453px; box-sizing: border-box; border: 0;}
#popupTech div.popupCon {padding: 22px 40px 90px;background: url('layout/tech_logo.png') center bottom 30px no-repeat;}
#popupTech h2 {border-bottom: 2px solid #000;color: #121212;font-size: 20px;line-height: 40px;font-weight: normal;font-family: 'Roboto-Medium', sans-serif;}
#popupTech div.contact {padding: 31px 15px 31px 110px;background: url('layout/tech_bg.png') 23px 23px no-repeat;color: #343434;font-size: 16px;line-height: 30px;font-family: 'Roboto-Regular', sans-serif;}
#popupTech div.contact dl {margin: 0;padding: 0;font-size: 16px;line-height: 21px;}
#popupTech div.contact dl:after {display: block;clear: both;height: 0;font-size: 0;line-height: 0;content: '';}
#popupTech div.contact dl > * {float: left;}
#popupTech div.contact dt {width: 170px;color: #000;font-weight: normal;font-family: 'Roboto-Medium', sans-serif;}
#popupTech div.contact dd {margin: 0;padding: 0;}
#popupTech div.contact ul {margin: 0;padding: 0;list-style: none;font-size: 0;line-height: 0;}
#popupTech div.contact li {position: relative;display: inline-block;padding: 0 15px;vertical-align: top;list-style: none;font-size: 16px;line-height: 21px;}
#popupTech div.contact li:before {position: absolute;top: 50%;left: 0;width: 1px;height: 10px;margin-top: -5px;background-color: #a1a1a1;content: '';}
#popupTech div.contact li:first-child {padding-left: 0;}
#popupTech div.contact li:last-child {padding-right: 0;}
#popupTech div.contact li:first-child:before {display: none;}
#popupTech div.contact li a {color: #3680d3;text-decoration: underline;}
#popupTech .fcRed {color: #bf191e !important;}
#popupTech div.formArea {position: relative;;padding-bottom: 20px;border-bottom: 1px solid #c3c3c3;}
#popupTech div.formArea textarea {float: left;width: 606px;height: 95px;background-color: #f2f3f6;border: 0 none;box-sizing:border-box;font-family: 'NotoSansKR Regular', sans-serif;}
#popupTech div.formArea textarea::placeholder {color: #a5a5a5;font-size: 15px;line-height: 22px;font-family: 'NotoSansKR DemiLight', sans-serif;}
#popupTech  div.formArea input[type=submit] {position: absolute;bottom: 21px;right: 0;width: 113px; height: 95px; border: none; background-color: #272b4b; cursor: pointer; color:#fff; font-size:17px; font-family: 'NotoSansKR Regular', sans-serif;}


/* 팝업 > Program at a Glance */

dl#eBooth a, dl#eBooth img {display: block;}

dl#eBooth ul, dl#eBooth li, dl#eBooth p {margin: 0;padding: 0;list-style:none; }
dl#eBooth ul {}
dl#eBooth ul:after {clear: both;display: block;height: 0;line-height: 0;font-size: 0;content: " ";}
dl#eBooth li a {display: block;height: 50px;}
dl#eBooth li img {display: block;width: 100%;height: 100%;}

dl#eBooth {z-index: 70;position: absolute;left: 0;bottom: 0px;height: 70px;margin: 0;padding:0 190px 0 0 ;background-color: #e1e4ee;box-sizing:border-box;}

dl#eBooth > dt {overflow: hidden;position: absolute;right: 0;top: 0;width: 160px;height: 70px;}
dl#eBooth > dt a {display: block;height: 100%;text-indent: -10000px;background: url('player/ebooth_open.png') center center no-repeat;}
dl#eBooth > dt a.view {background-image: url('player/ebooth_close.png');}
dl#eBooth > dd {position: relative;padding:10px  30px;margin: 0;background-color: #fff;}
dl#eBooth > dd:after {clear: both;display: block;height: 0;line-height: 0;font-size: 0;content: " ";}

dl#eBooth > dd > ul li {float: left;height: 50px;  padding: 5px;}
dl#eBooth > dd > ul li:first-child {padding-left: 0;}


dl#eBooth > dd .bx-controls a {position: absolute;top: 10px;display: block;width: 20px;height: 50px;text-indent: -10000px;background-repeat: no-repeat;}
dl#eBooth > dd a.bx-prev {left: 10px;background-image: url('player/ebooth_prev.png');background-position: left center;}
dl#eBooth > dd a.bx-next {right: 10px;background-image: url('player/ebooth_next.png');background-position: right center;}


/* 레이어 팝업  공통*/
div.layerPopup {display: none;z-index: 250;position: fixed;left: 0;top: 0;overflow: auto;width: 100%;height: 100%;min-width: 1200px;background-color: rgba(0,0,0,.7);font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
div.popupWrap .close {position: absolute;right:30px;top: 20px;width: 30px;height: 30px;margin: 0;padding: 0;}
div.popupWrap .close a {display: block;height: 100%;}
div.popupWrap .close img {display: block;margin: 0 auto;height: 30px;}
div.layerPopup div.popupWrap {position: absolute;left: 50%;top: 50%;background-color: #fff;box-sizing:border-box; transform:translate(-50%,-50%);}
div.popupWrap h1 {padding: 10px 80px 10px 80px;margin: 0;background-color:#0b004a;color: #fff;font-size: 26px;line-height: 50px;text-align: center;font-family: 'Roboto-Medium', 'NotoSansKR Bold',  sans-serif;font-weight: normal;}
div.popupCon {padding: 20px;}
/* div.layerPopup ul.subMenu {    width: 1000px;padding: 8px 260px; display: inline-block;  box-sizing: border-box;}
div.layerPopup ul.tabMenu li{    border: 1px solid #36545e;display: block ; background: #fff;color: #36545e;}
div.layerPopup ul.tabMenu li.on { background: #36545e;color: #fff;  }
div.layerPopup ul.tabMenu li a{ color:#36545e ;padding: 10px 50px;}
div.layerPopup ul.tabMenu li.on > a{color:#fff;} */

div.layerPopup .brn{ border-right: 0 !important;}
div.layerPopup .bln{ border-left: 0 !important;}
div.layerPopup .bttn{ border-top: 0 !important;}
div.layerPopup .bbn{ border-bottom: 0 !important;}
div.layerPopup .ui-tooltip {border: 2px solid #ff0202; box-sizing: border-box; font-size:13px;}
div.layerPopup table td.time{font-size:14px !important;color: #000;font-weight: bold;}

/* 룸 선택*/
div#popupRoom {}
div#popupRoom > div {width: 1650px;height: 555px;padding-top: 235px;border: 0 none;margin: -395px 0 0 -825px;background: url('player/room_logo.png') center top no-repeat;}

div#popupRoom p.home {position: absolute;left: 0;top: 0;width: 140px;margin: 0;}
div#popupRoom p.home a {display: block;padding: 10px 0;text-align: center;color: #000;font-size: 17px;line-height: 30px;background-color: #fff;font-family: 'Roboto-Medium', sans-serif;}

div.clock {z-index: 20;position: absolute;right: 0;top: 0;}
div.clock:after {clear: both;display: block;height: 0;line-height: 0;font-size: 0;content: "";}

div.clock dl {float: left;width: 140px;margin: 0 0 0 15px;padding: 8px 0 5px;background-color: #eee;}
div.clock dl:first-child {margin-left: 0;}
div.clock dt {display: table-cell;width: 140px;height: 36px;margin: 0;color: #192c8d;font-size: 15px;line-height: 18px;font-family: 'Roboto-Medium', sans-serif;text-align: center;vertical-align: middle;}
div.clock dd {margin:3px 0 0;font-family: 'Digital-7Mono', sans-serif;color: #000;font-size: 40px;line-height: 42px;text-align: center;}

div.room, div.room dl, div.room dt, div.room dd, div.room ul, div.room li, div.room a {margin: 0;padding: 0;list-style:none;text-decoration: none;}
div.room {float: left;width: 390px;height: 555px;margin-left: 30px;background-color: #4393df;box-sizing:border-box;}
div.room:first-child,
div.clock + div.room {margin-left: 0;}
div.room dl.brief {position: relative;padding:15px 30px;}
div.room dl.brief dt {padding-bottom: 5px;color: #fff;font-size: 32px;font-family: 'Roboto-Bold', 'NotoSansKR Bold', sans-serif;}
div.room dl.brief dd.sessionTit {overflow-x: hidden;overflow-y: auto;height: 84px;color: #fff;font-size: 22px;line-height: 28px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;}
div.room dl.brief dd.sessionTit::-webkit-scrollbar {width:10px;}
div.room dl.brief dd.sessionTit::-webkit-scrollbar-track {background-color: #fff;}
div.room dl.brief dd.sessionTit::-webkit-scrollbar-thumb {background-color: #222;}

div.room dl.brief dd.info {color: #fcff04;font-size: 17px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}

div.room div.bg {padding: 20px 30px 23px;background-color: #eee;}
div.room div.scrollArea {height: 208px;margin-bottom: 30px;}

dl.roomInfo {color: #222;font-size: 14px ;}
dl.roomInfo dt {padding-top: 25px;color: #00137f;font-size: 13px;font-family: 'Roboto-Bold', 'NotoSansKR Bold', sans-serif;    float: right;}
dl.roomInfo dt:first-child {padding-top: 0;}
dl.roomInfo span.tit {display: block;color: #131766;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;font-weight: bold;}

ul.roomInfo li {padding-top: 10px;}
ul.roomInfo span {display: block;color: #222;font-size: 15px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
ul.roomInfo span.tit {color: #131766;font-weight: bold;}
ul.roomInfo span.speaker {}

div.room div.btn {display: table-cell;width: 330px;height: 110px;text-align: center;vertical-align: middle;}
div.room div.btn > * {display: inline-block;width: 325px;height: 50px;padding: 15px;margin: 10px auto 0;text-align: left;}
div.room div.btn > *:first-child {margin-top: 0;}

/* 사전동의 */
div#popupAgree {width:1100px;height: 712px;padding: 0;margin: 0;text-align: center;}
div#popupAgree h1 {margin: 0;padding: 30px 0 0;background-color: #0168b7;color: #fff;font-size: 24px;line-height: 31px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;font-weight: normal;}
div#popupAgree h1 img {display: inline-block;vertical-align: top;}

div#popupAgree h1 + p {margin: 0;padding:5px 0 20px;background-color: #0168b7;font-size: 15px;line-height: 25px;color: #fff;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
div#popupAgree h1 + p span  {color: #ffde00;}

div#popupAgree div.bg {padding: 30px 25px 0;background-color: #fff;}
div#popupAgree div.agreeCon {height: 365px;padding:30px 25px;background-color: #f2f3f8;border-top: 2px solid #263b80;border-bottom: 1px solid #263b80;	font-size: 15px;line-height: 25px;font-family: 'NotoSansKR Regular', sans-serif;text-align: left;}

div#popupAgree div.agreeCon strong {display: inline-block;vertical-align: top;padding-top: 2px;line-height: 20px;color: #9839f1;font-weight: normal;box-shadow: inset 0 -8px 0 #fafc71;}

ul.listBl, ul.listBl li {margin: 0;padding: 0;list-style:none;}
ul.listBl {}
ul.listBl > li {position: relative;padding-left: 10px;margin-top: 15px;color: #333;font-size: 15px;line-height: 25px;font-family: 'NotoSansKR Medium', sans-serif;}
ul.listBl > li:first-child {margin-top: 0;}
ul.listBl > li:before {position: absolute;left: 0;top: 10px;width: 3px;height: 3px;content: "";background-color: #5f5f5f;}

ul.listBar, ul.listBar li {margin: 0;padding: 0;list-style:none;}
ul.listBar {}
ul.listBar > li {position: relative;padding-left: 10px;margin-top: 10px;color: #333;font-size: 14px;line-height: 20px;font-family: 'NotoSansKR DemiLight', sans-serif;}
ul.listBar > li:first-child {margin-top: 0;}
ul.listBar > li:before {position: absolute;left: 0;top: 0;content: '-';}

ul.listNum, ul.listNum li {margin: 0;padding: 0;}
ul.listNum > li {margin: 15px 0 0 25px;list-style:decimal;}
ul.listNum > li:first-child {margin-top: 0;}

div#popupAgree dt {padding-top: 20px;font-family: 'NotoSansKR Medium', sans-serif;}
div#popupAgree dt:first-child {padding-top: 0;}

div#popupAgree .agree {margin: 0;padding: 10px 0 10px;   }
div#popupAgree .agree input[type='checkbox']{ cursor: pointer;height: 20px; vertical-align: top;width: 20px; margin: 7px 0px 0 0;}
div#popupAgree .agree {margin-right: 10px;vertical-align: top;}
div#popupAgree .agree label {cursor: pointer;display: inline-block ; line-height: 30px;font-size: 16px;color: #111;font-family: 'NotoSansKR DemiLight', sans-serif;}

div#popupAgree .btn > * {width: 155px;height: 46px;padding: 10px 15px;text-align: left;font-size: 16px;line-height: 26px;border-color: #0168b7;background-color: #0168b7;color: #fff;font-family: 'NotoSansKR Regular', sans-serif;text-align: center;}




/* 이부스*/
div#popupEbooth {}
dl.eBoothInfo, dl.eBoothInfo dt, dl.eBoothInfo dd {}
dl.eBoothInfo > dt {}
dl.eBoothInfo > dt img {width: 158px;height: 68px;border: 1px solid #ddd;}
dl.eBoothInfo > dt span {position:relative;overflow:hidden;display: block;color: #1b1b1b;font-family: 'NotoSansKR Bold', sans-serif;font-size: 30px;line-height: 1.3;text-overflow:ellipsis;white-space:nowrap;}
dl.eBoothInfo > dd a, dl.eBoothInfo > dd img {display: block;}
dl.eBoothInfo a.guestBook {display: none;}

dl.eBoothInfo > dd.homepage {position: static;height: auto;margin-top: 0;}
dl.eBoothInfo > dd.homepage a {position:relative;overflow:hidden;display: block;text-decoration: none;color: #0065cf;font-size: 18px;text-overflow:ellipsis;white-space:nowrap;}

ul.eboothMore, ul.eboothMore li, ul.eboothMore a {margin: 0;padding: 0;list-style:none;}
ul.eboothMore a {display: block;padding: 10px 0 9px;background-color: #222b44;color: #fff;text-align: center;text-decoration: none;}

/*  width:721px ~  */
@media screen and (min-width: 720px) {
div#popupEbooth {width: 710px;margin: -292px 0 0 -355px;border-radius:10px;}

dl.eBoothInfo {position: relative;padding: 30px 150px 0 210px;}
dl.eBoothInfo > dt img {position: absolute;left: 30px;top: 30px;}
dl.eBoothInfo > dd {position: absolute;right: 0;top: 50%;height: 70px;margin-top: -35px;}
dl.eBoothInfo > dd.homepage a:before {content: "홈페이지 : ";}

ul.eboothMore {overflow: hidden;margin: 0;padding: 12px 30px 10px;}
ul.eboothMore > li {float: left;width: 160px;margin:0;padding: 0 0 0 20px;list-style:none;}
ul.eboothMore > li:first-child {padding-left: 0;}
}




div#popupEbooth > div {display: none;margin-top: 20px;}
div#popupEbooth textarea {width: 100%;height: 284px;border: 0 none;padding: 20px;background-color: #f8f8f8;box-sizing:border-box;}
div#popupEbooth textarea:focus {outline:none;}


div#popupEbooth .btnArea {text-align: center;}
div#popupEbooth .btnArea * {border-radius:5px;font-family: 'NotoSansKR Bold', sans-serif;box-sizing:border-box;}

/*  width:721px ~  */
@media screen and (min-width: 720px) {
div#popupEbooth div.guestBook {padding:0 30px;}

div#popupEbooth div.vodArea {width: 650px;margin: 0 auto;}

div#popupEbooth .btnArea {padding: 15px  0;}
div#popupEbooth .btnArea * {width: 282px;font-size: 20px;height: 60px;}
div#popupEbooth .btnArea a {line-height: 40px;}
}

div#popupEbooth .noti{    text-align: center;   padding: 0 0 15px; font-size: 17px;    color: #004894;}




div.stampList ul, div.stampList li {margin: 0;padding: 0;list-style:none;}
div.stampList ul a, div.stampList img {display: block;text-decoration: none;}

div.stamp > div.bg {position: relative;background-color: #f8f8f8;}

div.stampList {}
div.stampList ul:after {clear: both;display:block;height: 0;line-height: 0;font-size: 0;content: " ";}

div.stampList li {position: relative;float: left;width: 33.3%;height: 30px;padding: 50px 0;background: url('player/stamp_bg.png') center center no-repeat;}
div.stampList li:nth-child(3n+1) {width: 33.4%;}
div.stampList li img {width: 70px;height: 30px;border: 1px solid #ddd;margin: 0 auto;transform:rotate(-30deg);}

div.stampList li.visit {}
div.stampList li.visit:before {z-index: 10;position: absolute;left: 50%;top: 50%;width: 100px;height: 100px;margin: -50px 0 0 -50px;border-radius:50px;content: " ";background-color: rgba(0,101,207,.5);}

div.stamp div.bx-controls a {position: absolute;top: 50%;display: block;width: 30px;height: 30px;margin-top: -15px;text-indent: -10000px;}
div.stamp div.bx-controls a.disabled {opacity: .4;}
div.stamp a.bx-prev:after,
div.stamp a.bx-next:after {position:absolute;top:50%;margin-top:-10px;width:20px;height:20px;box-sizing:border-box;border:2px solid #4a4a4a;border-top:0 none;border-left:0 none;content:"";}

div.stamp a.bx-prev:after {left:0;transform:rotate(135deg);}

div.stamp a.bx-next:after {right:0;transform:rotate(-45deg)}



/*  width:721px ~  */
@media screen and (min-width: 720px) {
div.stamp > div.bg {width: 460px;padding:20px 45px;margin: 0 auto;}

div.stamp a.bx-prev {left: 30px;}
div.stamp a.bx-next {right: 30px;}
}






/* 피드백 */
div#popupFeedback {position: absolute;left: 50%;top: 50%;width: 460px;padding: 30px;border-radius: 10px;margin: -320px  0 0 -310px;background-color: #fff;}
div#popupFeedback h1 {margin: 0;padding: 0 0 20px;}
div#popupFeedback h1 img {display: block;margin: 0 auto;}

div#popupFeedback > p {padding-bottom: 20px;text-align: center;color: #1b1b1b;font-size: 22px;font-family: 'NotoSansKR Medium', sans-serif;text-align: center;font-weight: normal;}

div#popupFeedback .scrollArea {overflow-x: hidden;overflow-y: auto;}
div#popupFeedback .btnArea {text-align: center;}
div#popupFeedback .btnBig {border-radius:10px;}
div#popupFeedback textarea {width: 100%;height: 100px;box-sizing:border-box;}

dl.feedback, dl.feedback dt , dl.feedback dd {margin: 0;padding: 0;}
dl.feedback {}
dl.feedback > dt {position: relative;padding:10px 20px 10px 60px;background-color: #0065cf;color: #fff;font-size: 16px;}
dl.feedback > dt:before {position: absolute;left: 0;top: 0;width: 48px;height: 100%;content: " ";background-color: #004083;box-sizing:border-box;}
dl.feedback > dt span {position: absolute;left: 0;top: 50%;width: 48px;margin-top: -12px;line-height: 24px;text-align: center;}
dl.feedback > dt.bg {padding: 10px 20px;background-color: #7e8b98;text-align: center;}
dl.feedback > dt.bg:before {display: none;}

dl.feedback > dd {padding: 20px 0;}
dl.feedback > dd.con {padding: 10px 20px;background-color: #0065cf;color: #fff;font-size: 16px;}

ul.checklist, ul.checklist li {margin: 0;padding: 0;list-style:none;}
ul.checklist {padding: 0 20px;}
ul.checklist:after {clear: both;display: block;height: 0;line-height: 0;font-size: 0;content: " ";}
ul.checklist > li {float: left;width: 20%;text-align: center;}
ul.checklist span.inputR {display: block;overflow: hidden;width: 56px;height: 56px;border-radius:28px;margin: 0 auto 10px;}
ul.checklist span.inputR:before {width: 100%;height: 100%;background-image: url('player/checklist.png');background-size: 20px;}
ul.checklist span.inputR.on:before {background-image: url('player/checklist_on.png');}

ul.grade, ul.grade li {margin: 0;padding: 0;list-style:none;}
ul.grade {padding: 0 20px;text-align: center;font-size: 0;line-height: 0;}
ul.grade li {display: inline-block;padding-left: 40px;vertical-align: top;}
ul.grade li:first-child {padding-left: 0;}
ul.grade a {font-size: 14px;line-height: 33px;}
ul.grade img {display: block;}

div#popupFeedback .scrollArea {height: 400px;}
div#popupFeedback .btnArea {padding-top: 20px;}
div#popupFeedback .btnBig {width:282px;}




/* 퇴장팝업 */
div#popupOut {width: 500px;height: 320px;margin: -160px 0 0 -250px;background-color: #eee;}
div#popupOut h1 {display: none;}
div#popupOut p.emailId {padding: 23px 20px;text-align: center;color: #272b4b;font-size: 23px;font-family: 'Roboto-Medium', 'NotoSansKR Medium', sans-serif;font-weight: 500;background-color: #fff;}
div#popupOut dl, div#popupOut dt, div#popupOut dd {margin: 0;padding: 0;}
div#popupOut dl {padding: 6px 60px 30px;color: #000;}
div#popupOut dt {position: relative;margin-top: 25px;font-family: 'Roboto-Bold', 'NotoSansKR Bold', sans-serif;font-weight: 700;}
div#popupOut dt img {position: absolute;left: -30px;top: 0;}
div#popupOut dd {font-size: 15px;font-family: 'Roboto-Light', 'NotoSansKR DemiLight', sans-serif;font-weight: 300;}

div#popupOut p.close {position: absolute;right: 0;top: -64px;margin: 0;}
div#popupOut p.close a, div.layerPopup p.close img {display: block;}

.warning{}
.ti20{text-indent: 20px;}
.ti15{text-indent: 15px;}


/* 팝업 > FAQ */
div#popupFaq {position: relative;width: 1000px; height: 620px; background-color: #fff;}

div#popupFaq h1 {}
div#popupFaq div.popupCon {padding: 20px 30px 30px;}
div#popupFaq div.note {text-align: center; padding: 16px 10px; margin-bottom: 10px; background-color: #ebf2fa;}
div#popupFaq div.note ul {margin: 0 0 10px; padding: 0; list-style: none; font-size:0; line-height: 0;}
div#popupFaq div.note ul li {display: inline-block; vertical-align: top; position: relative; padding-left: 11px; font-size:14px; line-height: 20px; font-family:'Roboto-Regular',sans-serif;}
div#popupFaq div.note ul li a {text-decoration: underline; color: #1b61e2;}
div#popupFaq div.note ul li span {color: #323c80;}
div#popupFaq div.note ul li:first-child {padding-left: 0;}
div#popupFaq div.note ul li:before {position: absolute; left: 5px; top: 50%; transform:translateY(-50%); content:''; width: 1px; height: 10px; background-color: #000;}
div#popupFaq div.note ul li:first-child:before {display: none;}
div#popupFaq div.note p.btn {font-size:0; line-height: 0;}
div#popupFaq div.note p.btn a {margin-left: 10px; width: 205px; height: 36px; line-height: 36px; padding: 0;  color: #fff;}
div#popupFaq div.note p.btn a:first-child {margin-left: 0;}
div#popupFaq div.note p.btn a.kakao {background-color: #272b4b; border-color: #272b4b;}
div#popupFaq div.note p.btn a.help {background-color: #d41a7b; border-color: #d41a7b;}

div#popupFaq div.scrollArea {height: 338px; padding: 0; margin-bottom: 24px;}
div#popupFaq div.logo img {display: block; margin: 0 auto;}
div#popupFaq .close {position: absolute;right:20px;top: 15px;width: 40px;height: 40px;margin: 0;padding: 0;}
div#popupFaq .close a {display: block;height: 100%;cursor: pointer;}
div#popupFaq .close img {display: block;margin: 0 auto;height: 40px;}

a.conLink {display: inline-block;border-bottom: 1px solid #1b61e2;color: #1b61e2;text-decoration: none;}

dl.faq, dl.faq > dt, dl.faq > dd, dl.faq ul, dl.faq li, dl.faq p {margin: 0;padding: 0;list-style:none;}
dl.faq:first-of-type {border-top: 2px solid #5e617a;}
dl.faq {border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;font-size: 16px;line-height: 21px;color: #000;font-family: 'NotoSansKR Regular', sans-serif;font-weight:400;}

dl.faq a.trigger {display: block;text-align: left;position: relative;display: block;padding:17px 80px 17px 70px;text-decoration: none;font-size: 16px;line-height: 21px;color: #000;font-family: 'NotoSansKR Regular', sans-serif;font-weight:400;text-decoration: none;}
dl.faq a.trigger:before {position: absolute;left: 20px;top: 12px;width: 30px;height: 21px;padding: 5px 0 4px;border-radius:15px;text-align: center;font-family: 'Roboto-Medium', sans-serif;background-color: #212b75;color: #fff;font-size: 15px;content: "Q";}
dl.faq a.trigger:after {position: absolute;right: 30px;top: 50%;width: 20px;height: 10px;margin: -5px;content: "";background: url('layout/toggle.png') center center no-repeat;}

dl.faq dt.view {background-color: #f1f2f8;}
dl.faq dt.view a {color: #212b75;font-family: 'NotoSansKR Medium', sans-serif;font-weight: 500;}
dl.faq dt.view a:after {transform:rotate(180deg);}

dl.faq > dd.toggleCon {text-align: left;position: relative;padding: 25px 25px 25px 70px;border-top: 1px solid #ccc;    line-height: 22px;}
dl.faq > dd.toggleCon:before {position: absolute;left: 20px;top: 20px;width: 30px;height: 21px;padding: 5px 0 4px;border-radius:15px;text-align: center;font-family: 'Roboto-Medium', sans-serif;background-color: #bb114d;color: #fff;font-size: 15px;content: "A";}

dl.faq > dd.toggleCon img {display: block;margin: 15px auto 0;}
dl.faq > dd.toggleCon > * {margin-top: 20px;}
dl.faq > dd.toggleCon > *:first-child {margin-top: 0;}
dl.faq > dd.toggleCon dt {padding:30px 0 10px;font-weight: bold;}
dl.faq > dd.toggleCon dt:first-child {padding-top: 0;}
dl.faq > dd.toggleCon dd {overflow: hidden;}

dl.faq table.tblDef {border-top-color: #000;}
dl.faq table.tblDef th, dl.faq table.tblDef td {padding: 5px;border-left: 1px solid #ccc;font-size: 14px;font-family: 'Roboto-Regular', 'NotoSansKR Regular', sans-serif;}
dl.faq table.tblDef th:first-child,
dl.faq table.tblDef td:first-child {border-left: 0 none;}
dl.faq table.tblDef th {background-color: #f1f1f1;border-left: 0 none;}
dl.faq > dd.toggleCon a {display: inline-block;margin: 0 !important;border-bottom: 1px solid #1e64f1;text-decoration: none;color: #1e64f1;}

dl.faq ul.listNum li{padding-left: 18px !important;}
dl.faq ul.noBl li{padding-left: 0 !important;}
dl.faq ul.listBar li{padding-left: 1em !important;}

#popupProgramGlance {width: 1300px;height: 718px;margin: -359px 0 0 -650px;}
#popupProgramGlance div.popupCon {position: relative;}
 
#popupProgramGlance ul.timeInfo {right: 20px;top: 13px;width: 204px;}
#popupProgramGlance ul.timeInfo li {float: left;width: 98px;}

#popupProgramGlance div.scrollArea {overflow: auto;padding-top: 0;margin-top: 30px;height: 540px;}

#popupProgramGlance table.tblDef {border-top-color: #007fde;border-bottom: 1px solid #e7e7e7;border-left: 1px solid #e7e7e7;}
#popupProgramGlance td {position: relative;border: 0 none;border-top: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7;   line-height: 17px; background: #fff;}
#popupProgramGlance td.tit {text-align: left;}
#popupProgramGlance td:last-child {text-align: right;}
#popupProgramGlance tr.bg > * {background-color: #f2f8fd;border-top: 1px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;color: #235db6;font-family: 'NotoSansKR Medium', sans-serif;}
#popupProgramGlance tr.bg strong {font-family: 'NotoSansKR Black', sans-serif;}

ul.conMenu, ul.conMenu li, ul.conMenu a {display: block;margin: 0;padding: 0;list-style:none;text-decoration: none;}
ul.conMenu {text-align: center;font-size: 0;line-height: 0;}
ul.conMenu:after {clear: both;display: block;height: 0;line-height: 0;font-size: 0;content: "";}
ul.conMenu > li {float:none; display: inline-block;width: 260px;vertical-align: top;box-sizing:border-box;}
ul.conMenu a {border: 1px solid #7e80a6; border-right: 0; border-left: 0 none;padding: 13px 15px; border-radius:0; font-size: 17px;line-height: 30px; font-family: 'Roboto-Bold', sans-serif; color: #a2a1a1;text-align: center;background-color: #fff;}
ul.conMenu > li:first-child {border-left: 1px solid #7e80a6;}
ul.conMenu > li:last-child {border-right: 1px solid #7e80a6;}
ul.conMenu .on a {background-color: transparent; color: #277fba; border-bottom: 3px solid #277fba; padding-bottom: 11px;} 
ul.conMenu a:hover {color: #277fba;}

ul.conMenu {margin-bottom: 20px;}

ul.col2ea > li {width: 50%;}

ul.col3ea > li {width: 33.3% !important;}
ul.col3ea > li:nth-child(3n+1) {clear: both;width: 33.4% !important;}
ul.col4ea > li {width: 25%;}
ul.col5ea > li {width: 20%;}

ul.col6ea > li {width: 16.7%;}
ul.col6ea > li:nth-child(6n+1) {width: 16.5%;}


ul.col7ea > li {width: 14.3%;}
ul.col7ea > li:nth-child(7n+1) {clear: both;width: 14.2%;}
 

#popupProgramGlance.layerPopup {display: none;z-index: 250;position: fixed;left: 0;top: 0;overflow: auto;width: 100%;height: 100%;min-width: 1200px;background-color: rgba(0,0,0,.5);font-family: 'NotoSansKR Regular', sans-serif;}
#popupProgramGlance.popupWrap .close {position: absolute;right: 25px;top: 12px;width: 26px;height: 26px;margin: 0;padding: 0;}
#popupProgramGlance.popupWrap .close a {display: block;height: 100%;}
#popupProgramGlance.layerPopup div.popupWrap {position: absolute;left: 50%;top: 50%;background-color: #fff;box-sizing:border-box;}
#popupProgramGlance.popupWrap h1 {padding: 0 50px 0 20px;margin: 0 0 15px 0;font-size: 20px;line-height: 50px;font-family: 'NotoSansKR Bold',  sans-serif;font-weight: normal;background:#f1f1f1;}
#popupProgramGlance.popupCon {padding: 20px;}



#popupProgramGlance table.program td span.lang {display: block;position: absolute;right: 5px;top: 5px;overflow: hidden;border-radius: 9px;}
#popupProgramGlance table.program td span.lang > span {display: block;float: left;height: 17px;padding: 0 8px;color: #fff;font-size: 11px;line-height: 17px;font-family: 'Roboto-Regular', sans-serif;text-align: center;background-color: #ff8f0b;}
#popupProgramGlance table.program td span.eng {background-color: #d53541 !important;}
#popupProgramGlance table.program td span.kor {background-color: #00b050 !important;}